/* *********** Feuille de style de l'index.html ***********


		        Couleurs du site:

		        Noir:	#000000;	;
		        Blanc: 	#FFFFFF;	;
		        Gris: 	#dadada;	;

/* *********** Importations de Police via Google Fonts ***********/
	@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');

/*	    	     font-family: 'Raleway', sans-serif

/* *********** Stylisation du Body *********** */
body{
	margin:0;
	overflow: hidden;
	font-family:'Raleway', sans-serif!important;
	background-color:#dadada;
}
/*Stylisation du Titre*/
.title{
	text-align: center;
    	color: #ee6e73;
   	font-weight: 200;
}

/* *********** Stylisation de l'input *********** */
.size{
	margin:4em auto 0;
}
.labeltxt{
	font-weight: 200;
	font-size: 1.5em!important;
	color:#ee6e73!important;
}
.envoyer{
	background-color: #ee6e73!important;
    	display: block;
    	margin: 2em auto;
}
.envoyer:hover{
	background-color: #ca5c61!important;
	transition: all ease 0.7s;
}
input[type=number]:focus:not([readonly]){
	border-bottom: 1px solid #ee6e73!important;
   	box-shadow: 0 1px 0 0 #ee6e73!important;
}

/* *********** Stylisation du SVG *********** */
svg {
	display: block;
	margin:0 auto;
}